.flex-layout{
    width: 100%;
    height: 100%;
}
.layout {
    background-color: green;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
}
.has-sider{
    flex-direction: row;
}

.header {
    background-color: red;
}

.sider {
    background-color: blue;
    height: 100%;
}

.content {
    background-color: yellow;
    width: 100%;
    height: 100%;
}

.footer {
    background-color: gray;
}